# Build
build/
build.txt

# Playground
playground

# Documentation
docs

# Container Data
postgres-data
pgadmin-data
redis-data

# Environment
.env


# MacOS
**/.DS_Store

# Python
**/__pycache__
Icon